@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple business management program designed to help businesses manage their assets.</p>
</div>
